body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  background-color: #8499b1;
}
#change-city {
  text-align: center;
  color: #31444c;
  padding: 30px;
}
.cityWeather {
  padding-bottom: 30px;
}

.weatherText {
  text-align: center;
  color: #31444c;
  font-size: 55px;
}
#gps-button {
  display: block;
  border: 0px;
  padding: 15px;
  margin: auto;
  margin-bottom: 25px;
  background-color: #fa9f25;
  outline: #003049;
  border-radius: 40px;
  color: #31444c;
}

#max-and-min {
  font-size: 40px;
}
#cel-link {
  font-size: 25px;
  text-decoration: none;
}
#far-link {
  font-size: 55px;
  text-decoration: none;
}
#weather-city {
  text-align: center;
  color: #31444c;
  font-size: 55px;
}
#wind-speed-text {
  font-size: 20px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.weatherFacts {
  text-align: center;
  color: #31444c;
  padding-right: 30px;
  padding-left: 30px;
}
.weatherFuture {
  text-align: center;
  color: #31444c;
  padding: 30px;
}
#repository-button {
  display: block;
  border: 0px;
  padding: 15px;
  margin: auto;
  margin-top: 25px;
  background-color: #fa9f25;
  outline: #003049;
  border-radius: 40px;
  width: 125px;
}
.weatherText .active {
  color: #31444c;
  text-decoration: none;
}
#repository-text {
  text-decoration: none;
  color: #31444c;
}
.fas.fa-sun {
  color: #fcbf49;
}
.fas.fa-cloud {
  color: #6a706e;
}
.fas.fa-cloud-sun-rain {
  color: #003049;
}
